/* ------------------------------------------------------------------
                          [Table of contents]
        ***     01.  ==>   Root Variables And Font Family 
        ***     02.  ==>   General Style   

--------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Root Variables */

:root {
  --black: #333333;
  --white: #ffffff;
  --light-orange: #ff9a6c;
  --green:  #17D679;
  --grey: #3F3D56;
  --red : #a64452 ;
}

/* ------------------------------------------------------------------
                    ***     General Style        ***
--------------------------------------------------------------------- */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  overflow-x: hidden;
}
.main {
  height: 100vh;
  
}
.mian img {
  object-fit: cover;
  
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}
select,
button,
button:focus,
input,
input:focus textarea,
textarea:focus {
  outline: none;
  border: none;
}

label{
  font-size: 1.3rem;
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9a6c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c07754;
}

/* ------------------------------------------------------------------
                    ***     Form Style        ***
--------------------------------------------------------------------- */
#form {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.685);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:  30rem;
  height: 60%;
  padding: 50px 30px;
  border-radius: 10px;
}
h1 {
  color: #04aa6d;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
}
.input-box input {
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.822);
  color: var(--white);
}
::placeholder{
  color: rgba(255, 255, 255, 0.349);
}
.input-box .error {
  color: var(--red);
  font-size: 13px;
}
input[type="submit"] {
  color: var(--white);
  color: var(--black);
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 9px;
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin: 0 auto 10px;
}
#login {
  background-color: var(--green) ;
  font-size: 1.5rem;
}
#login:hover {
  background-color: #04aa6d;
  cursor: cell;
}
.no-account {
  color: var(--white);
  font-size: 14px;
  text-align: center;
}
.no-account a {
  color: rgb(92, 92, 223);
  text-decoration: underline;
}